<h2>Lista de Inscripciones</h2>
<a href="{% url 'inscripcion_create' %}">Nueva Inscripción</a>
<ul>
    {% for inscripcion in inscripciones %}
        <li>
            {{ inscripcion.estudiante.nombre }} {{ inscripcion.estudiante.apellido }} - {{ inscripcion.curso.nombre }}
            <a href="{% url 'inscripcion_update' inscripcion.id %}">Editar</a> 
            <a href="{% url 'inscripcion_delete' inscripcion.id %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay inscripciones disponibles.</li>
    {% endfor %}
</ul>
